.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 3em;
}
.ui {
  margin-top: 1em;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  margin-top: 1em;
}
.footer > * {
  padding-bottom: .25em;
}
.searchbox {
  display: flex;
  height: 2em;
  border: solid rgb(235, 234, 234) 1px;
  border-radius: 4%;
  margin-bottom: 2em;
}
.searchbox-input {
  border: none;
}
.searchbox-input:focus {
  outline: none;
}
.searchbox-img {
  height: 100%;
}
.panels {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}
.panel {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 20em;
  background: rgb(235, 234, 234);
  border: solid rgb(170, 170, 170) 1px;
  border-radius: 4%;
  margin-right: 1em;
  margin-bottom: 1em;
}
.panel-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.panel-row-img-container {
  width: 2em;
  margin-left: 1em;
  margin-right: 2em;
}