.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 3em;
}
.ui {
  margin-top: 1em;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  margin-top: 1em;
}
.footer > * {
  padding-bottom: .25em;
}
.searchbar {
  display: flex;
  height: 2em;
  border: solid black 1px;
  border-radius: 4%;
  margin-bottom: 2em;
}
.searchbar-input {
  border: none;
}
.searchbar-img {
  height: 100%;
}
.panels {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}
.panel {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 20em;
  background: gray;
  border: solid black 1px;
}
.panel-row {
  display: flex;
}
