/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 3em;
}

.ui {
  margin-top: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  margin-top: 1em;
}

.footer > * {
  padding-bottom: 0.25em;
}

.searchbox {
  display: flex;
  height: 2em;
  border: solid #ebeaea 1px;
  border-radius: 4%;
  margin-bottom: 2em;
}

.searchbox-input {
  border: none;
}

.searchbox-input:focus {
  outline: none;
}

.searchbox-img {
  height: 100%;
}

.panels {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 22em;
  background: #ebeaea;
  border: solid #aaaaaa 1px;
  border-radius: 2%;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em 0;
}

.panel-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.panel-row-img-container {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.panel-row-text-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 1em;
}

.btn-base {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

.fancy-btn {
  background: turquoise;
}

.github-profile-container {
  display: flex;
  justify-content: center;
}

.github-profile-container > * {
  padding-right: 0.25em;
}

.github-icon {
  height: 2em;
}

.weather-icons {
  display: flex;
}

.weather-icon-container {
  height: 5em;
}

.weather-icon {
  height: 100%;
}

.header-text {
  font-size: 2em;
}

.btn-base {
  border: none;
  background: transparent;
}

.banner {
  display: flex;
}

.banner-img {
  height: 5em;
}

.banner-text {
  font-size: 4em;
}

.city-text {
  font-size: 3em;
  text-align: center;
}

.label-text {
  font-weight: 600;
  color: #3ba2dd;
}
.displayed-city-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
